## data
data
**.*.csv
**.*.json
**.*.zip
**.json**
**.pdf**
**.rdb**

## Python

**venv**
**__pycache__**


## secret
**.env
**.env.local
**.env.development
**.env.test
**.env.production

## logs

**logs**
**.log**

